<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="banner"></div>
        <div class="error-container">
        <div class="h1">
        <div class="p">
        <div class="a">
        <div class="btn">
        
        <div class="container">
            <h1>Error</h1>
            <p>Sorry, the word you searched for could not be found.</p>
            <p>Please try again with a different word.</p>
            <p>Go back to <a href="/" class="btn-sparta">Main Page</a></p>
        </div>
    </div>
</body>
</html>
